<div style="padding: 1em; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);">
	<div style="font-size: 1.2rem; font-weight: 300; margin-bottom: 20px;">
    	Miami ARTCC Event Reminder - {{eventTitle}}
    </div>
    <div style="font-size: 0.9rem;">
		Hello {{name}}, <br /><br />
		Thank you for signing up to control for <strong>{{eventTitle}}</strong>, which will take place on <strong>{{eventDate}}</strong> from <strong>{{eventStart}}</strong> to <strong>{{eventEnd}}</strong>. This email serves as a reminder of your signup.<br/><br/>
		If you are unable to attend the event, please delete your signup through the Miami ARTCC website. By keeping your signup on the Miami ARTCC website, you are indicating that you have confirmed your availability to work a position for the event.<br/><br/>
		Should you encounter a last-minute conflict, you can still delete your signup before the final roster is published on the Miami ARTCC website. After the final roster is published, you must email the Events Coordinator (ec@zmaartcc.net) to cancel your signup.<br/><br/>
		We’d like to remind you that failure to attend an event, in which you’re rostered for, or failure to adhere with the position in which you are assigned may impact your future selection for event participation.<br/><br/>
		Thank you!<br/><br/>
		The ZMA Events Team<br/><br/>
	</div>
</div>
